- if resource.errors.any?
  #error_explanation
    %ul.alert.alert-danger.alert-dismissable
      %a.close{ data: { dismiss: 'alert' }, href: '#' } ×
      - resource.errors.full_messages.each do |message|
        %li= message