@import "variables";

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 0.875em;
  letter-spacing: 2px;
  font-family: verdana, arial, helvetica, sans-serif;

  .navbar-brand {
    color: $white;
    font-size: 1.875em;
    font-weight: 800;
    font-family: Courier, monospace;
  }

  .navbar-form {
    .input-group {
      display: block;
    }

    input#search {
      width: 250px;
    }

    button.btn.btn-default {
      color: $light-blue;
      &:hover {
        background-color: $light-blue;
        color: $white;
      }
    }
  }

  .logo-small {
    font-size: large;
  }
}

@media (max-width: 992px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: 0;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}


footer {
  border-top: 1px solid $light-blue;
  padding: 30px 0;
  display: block;
}

// *Container* //

.alert {
  margin-top: 20px;
}

.carousel {
  margin-top: 50px;
  margin-bottom: 60px;

  .carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.show-book {
  padding: 60px 50px;
}

.img-responsive {
  width: 100%;
}

.panel.panel-info {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 99%;
  background-color: $white;
  &:hover {
    box-shadow: 0 8px 36px 0 $black;
  }

  .panel-heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
